.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 115px;

    .about__left__box {
        max-width: 555px;
        width: 100%;
        height: 500px;

        .about__left__box__img {
            width: 100%;
            height: 100%;
        }
    }

    .about__right__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2em;
        text-align: left;
        color: #DC780B;
        margin-bottom: 9px;
    }

    .about__right__caticory {
        max-width: 487px;
        width: 100%;
        font-size: 31.25px;
        font-weight: 700;
        line-height: 40.63px;
        text-align: left;
        color: #150C01;
        margin-bottom: 30px;
    }

    .about__right__description {
        max-width: 487px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #150C01;
        opacity: .7;
        margin-bottom: 29px;
    }

    .about__right__button {
        width: 142px;
        height: 42px;
        border-radius: 5px;
        background: #DC780B;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: center;
        color: #FFFFFF;
        &:hover{
            background: #FFFFFF;
            border-color: #DC780B;
            color: #DC780B;
            transition: .2s;
        }
    }
}